In [52]:
import pandas as pd
import streamlit as st

In [53]:
flights_df = pd.read_csv("https://pxdata.stat.fi/PxWeb/sq/a74f5130-03b1-426d-94b3-158f4e262286", encoding="latin1")
flights_df.head()

,Ilmoittava lentoasema,Tiedot,2024M01,2024M02,2024M03,2024M04,2024M05,2024M06,2024M07,2024M08,2024M09,2024M10,2024M11,2024M12
0,Helsinki-Vantaa,Matkustajamäärä,1121845,1119556,1298550,1287928,1412578,1545331,1593355,1497884,1446894,1479555,1274917,1328987
1,Rovaniemi,Matkustajamäärä,127776,116652,104035,30618,26033,27666,27107,30149,37658,47669,102123,270139

In [54]:
seasonal_flights_df = flights_df.copy()

In [55]:
month_columns = [name for name in seasonal_flights_df.columns if "2024M" in name]
month_columns

['2024M01',
 '2024M02',
 '2024M03',
 '2024M04',
 '2024M05',
 '2024M06',
 '2024M07',
 '2024M08',
 '2024M09',
 '2024M10',
 '2024M11',
 '2024M12']

In [56]:
seasonal_flights_df["Yhteensä"] = seasonal_flights_df[month_columns].sum(axis=1)
seasonal_flights_df

,Ilmoittava lentoasema,Tiedot,2024M01,2024M02,2024M03,2024M04,2024M05,2024M06,2024M07,2024M08,2024M09,2024M10,2024M11,2024M12,Yhteensä
0,Helsinki-Vantaa,Matkustajamäärä,1121845,1119556,1298550,1287928,1412578,1545331,1593355,1497884,1446894,1479555,1274917,1328987,16407380
1,Rovaniemi,Matkustajamäärä,127776,116652,104035,30618,26033,27666,27107,30149,37658,47669,102123,270139,947625

In [57]:
def get_seasonal_travel_percent(row, month1, month2, month3):
    month1_i = list(row.index).index(f"2024M{month1}")
    month2_i = list(row.index).index(f"2024M{month2}")
    month3_i = list(row.index).index(f"2024M{month3}")
    year_total_i = list(row.index).index("Yhteensä")

    season_total = row.values[month1_i] + row.values[month2_i] + row.values[month3_i]
    year_total = row.values[year_total_i]
    
    return round(season_total / year_total * 100)

seasonal_flights_df["Talvi 2024"] = seasonal_flights_df.apply(lambda row: get_seasonal_travel_percent(row, "12", "01", "02"), axis=1)
seasonal_flights_df["Kevät 2024"] = seasonal_flights_df.apply(lambda row: get_seasonal_travel_percent(row, "03", "04", "05"), axis=1)
seasonal_flights_df["Kesä 2024"] = seasonal_flights_df.apply(lambda row: get_seasonal_travel_percent(row, "06", "07", "08"), axis=1)
seasonal_flights_df["Syksy 2024"] = seasonal_flights_df.apply(lambda row: get_seasonal_travel_percent(row, "09", "10", "11"), axis=1)

seasonal_flights_df= seasonal_flights_df.filter(items=["Ilmoittava lentoasema", 
                                                        "Talvi 2024", 
                                                        "Kevät 2024", 
                                                        "Kesä 2024", 
                                                        "Syksy 2024"], axis=1)

seasonal_flights_df.head()

  Ilmoittava lentoasema  Talvi 2024  Kevät 2024  Kesä 2024  Syksy 2024
0       Helsinki-Vantaa          22          24         28          26
1             Rovaniemi          54          17          9          20